{% extends "main.html" %}
{% block title %}ERROR 404{% endblock %}
{% block main %}
    <div class="panel panel-danger col-md-6" align="center">
        <div class="panel-heading">
                    <h1 class="panel-title">ERROR: 404 Page not found</h1>
                </div>
                <div style="font-size: smaller" class="panel-body">
                    <h2>Вам похоже не сюда ;)</h2>
                    <p>Но всегда есть <a href="/">выход</a>. Просто нужно быть внимательнее!</p>
                </div>
    </div>
{% endblock %}