{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<div class="container" >
    <form class="form-signin" style="margin: 0 auto; max-width: 302px" role="form" method="post" action=".">
    <h4 class="form-signin-heading">Авторизация пользователя</h4>
        {% csrf_token %}
         {% load bootstrap %}

        <!--<table>

            <small>{{ form.username.errors }}{{ form.password.errors }}</small>
        <tr>
            <td><small>{{ form.username.label_tag }}</small></td>
            <td>{{ form.username }}</td>
        </tr>
        <tr>
            <td><small>{{ form.password.label_tag }}</small></td>
            <td>{{ form.password }}</td>
        </tr>


        </table>
        -->
        <!-- // -->
        <!-- // -->
        <input id="id_username" maxlength="254" name="username" type="text" class="form-control" placeholder="Логин" required autofocus>
        <input  id="id_password" name="password" type="password" class="form-control" placeholder="Пароль" required>
        <script src='https://www.google.com/recaptcha/api.js'></script>
        <div class="g-recaptcha" data-sitekey="6Lf-qzsUAAAAAGPFK7hi9qtoVZ9eFn8IjDL7CxK7"></div>
            <div style="color: darkred">
            {% for messages in messages %}
                {{ messages }}
            {% endfor %}
            </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Подтвердить</button>
    </form>
    <p align="center">Если вы не зарегистрированы, то следует обратиться к Администратору.  </p>

</div>

{% endblock %}