{% extends "main.html" %}
{% block title %}Редактирование данных Контрагента{% endblock %}
{% block main %}
    <h4>Редактирование данных Контрагента - <a href="/partners/{{ partner.id }}" style="color: #0055aa">{{ partner.partner_shortname }}</a></h4>
    <form action="" method="post" enctype="multipart/form-data">
      <div class="form">
        <div class="row">
          <div class="col-md-7">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="panel-title">Основные данные:</h4>
                </div>
                <div style="font-size: smaller" class="panel-body">
                    {% include "forms2partners/form4add.html" %}

                    <div class="panel panel-info">
                        <div style="font-size: smaller" class="panel-body">
                            {% include "forms2partners/formset2desc.html" %}
                        </div>
                    </div>
                </div>
            </div>
          </div>
          <div class="col-md-5">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4 class="panel-title">Реквизиты:</h4>
                </div>
                <div style="font-size: smaller" class="panel-body">
                    {% include "forms2partners/formset2detail.html" %}
                </div>
            </div>
          </div>
        </div>
        <p><div class="submit-button"><input class="btn btn-sm btn-default" type="submit" value="Сохранить"></div></p>
    </form>
    <p><a class="btn btn-sm btn-primary" role="button" href="/partners/index/"><span class="glyphicon glyphicon-chevron-left"></span> Назад</a></p>
{% endblock %}

